<!DOCTYPE html>
<html lang="pt-br" ng-app="alurapic"> <!-- A DIRETIVA NG-APP CARREGA O MÓDULO PRINCIPAL DA APLICAÇÃO QUE É O ALURAPIC -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Alurapic</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"> 
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <script src="js/lib/angular.min.js"></script> <!-- IMPORTANDO O SCRIPT DO ANGULARJS -->
        <script src="js/main.js"></script> <!-- IMPORTANDO O MÓDULO MAIN -->
        <script src="js/controllers/fotos-controller.js"></script> <!-- IMPORTANDO FOTOS-CONTROLLER DA PASTA CONTROLLERS -->


    </head>
    <body ng-controller="FotosController"> <!-- A DIRETIVA NG-CONTROLLER,INSTÂNCIA O FOTOS CONTROLLER E ASSOCIA A ESSE ELEMENTO DO DOM  -->
        <div class="container">
            <h1 class="text-center">Alurapic</h1>
              <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}" height="200" width="200">


        </div> <!-- FIM CONTAINER -->        
    </body>
</html>